header {
    background-color: rgb(8, 109, 204);
    font-size: 20px;
     font-style: arial;
     display: block;
     padding: 30px;
     position: static;
     top: 0;
     width: 100%;
     box-sizing: border-box;
     left: 0;
     color: white;
}

h1 {
    display: inline;
}

.links {
    text-decoration: none;
    color: white;
    margin-left: 65px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
}

}

#mobile {
    display: none;   
}

.flex-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
}

/*
klass för bilderna så att de håller sig i sin kolumn
*/
.poster {
    max-width: 100%;
    width: 100%;
}

/*
skugga
*/
.shadow {
    box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.75);

}
 

.flex-col {
    margin: 20px;
    flex: auto;
}


@media screen and (max-width: 700px) {
    
    #desktop, .links {
        display: none
    }

    .title {
        display: flex;
        justify-content: center;
        margin: 0;
    }
   
    #mobile {
        display: flex;
        flex-wrap: wrap;
    }

}