
.header {
    background-color: rgb(8, 109, 204);
    font-size: 20px;
     font-style: arial;
     display: block;
     padding: 30px;
     position: static;
     top: 0;
     width: 100%;
     box-sizing: border-box;
     left: 0;
}

body {
    margin: 0;
    padding: 0;
}


.flex-container>div {
    display: flex;
    border: 1px solid red;
    min-width: 150px;
    min-height: 50px;
    flex-grow: 1;
    width: 20%;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    
       
}


img {
   width: 100%;
   height: 100%
}

  



 
@media screen and (max-width: 700px) {
      .flex-container div {
     
  }

